.profile__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 495px) {

  .profile__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  justify-content: center;
  align-items: start;
  }
}

@media screen and (min-width: 495px) and (max-width: 620px) {

  .profile__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  }
}