.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto 50px;
  align-items: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 495px) {

  .profile {
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 282px;
  margin: 0 auto 38px;
  }
}

@media screen and (min-width: 495px) and (max-width: 620px) {

  .profile {
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: calc(100% - 38px);
  }
}

@media screen and (min-width: 621px) and (max-width: 795px) {

  .profile {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  width: 581px;
  justify-content: center;
  }
}

@media screen and (min-width: 796px) and (max-width: 1050px) {
    
  .profile {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  width: calc(100% - 150px);
  }
}